figure img{
    width: 100%;
}
section figure img{
    border-radius: 10px;
}
main.about_main{
    display: flex;
    gap: 50px;
}
main div.banner.about_us{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/about/banner.webp);
    margin: 30px 0;    
}
main div.banner.about_us .banner_text_section{
    text-align: left;
    padding-left: 30px;
}
main div.banner.about_us .banner_text_section h2{
    color: var(--gs09);
}
main.about_main .scroll_wrap {
  position: relative;
  height: 350px;
  overflow: hidden; 
}
main.about_main .scroll_img {
  overflow-y: scroll; 
  height: 100%;
  scrollbar-width: none;
}
main.about_main .scroll_img img {
  width: 100%;
  object-fit: contain;
  display: block;    
  background-color: rgba(0, 0, 0, 0.4);  
}
main.about_main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: none;          
}
main.about_main .fixed_text {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--gs09);
  line-height: 40px;
  pointer-events: none;
}
main.about_main .fixed_text p{
    font-size: 24px;
    line-height: 48px;
}
main.about_main section{
    width: 100%;
}
main.about_main section h3{
    color: var(--ys02);
    margin-bottom: 30px;
}
main.about_main section h3 span.left_padd{
    padding-left: 50px;
}
main.about_main section .div_row{
    display: flex;
}
main.about_main section .div_row div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main section.grid_bg {
    background-image: linear-gradient(to right, rgba(0,0,0,0.1) 1px, transparent 1px), linear-gradient(to bottom, rgba(0,0,0,0.1) 1px, transparent 1px);
    background-size: 40px 40px;  
    padding: 30px;
}
main section.grid_bg > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
main section.grid_bg div .div_row{
    display: flex; 
    align-items: center;
}
main section.grid_bg div div article{
    text-align: center;
}
main section.grid_bg div div article h4{
    color: var(--ys04);
    margin-bottom: 20px;
}
main section.grid_bg div div article span{
    padding-left: 10px;
    margin-bottom: 20px;
    border-left: 2px solid var(--ys04);
}
main section.grid_bg div div img{
    width: 100%;
}
main section p.align_right{
    border-bottom: 1px solid var(--gs05);
    padding-bottom: 10px;
    margin-bottom: 40px;
    text-align: right;
}
main section p.align_right+p{
    margin-bottom: 50px;
}
main section div.card_overflow{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
    max-width: 1100px;
    overflow-x: auto;
    scrollbar-width: none;
    cursor: grab;
}
main section div.card_overflow.dragging{
    cursor: grabbing;
    user-select: none;
}
main section div.card_overflow article{
    background-color: var(--gs09);
    padding: 10px;
    flex-shrink: 0;
}
main section div.card_overflow article figure{
    background-size: cover;
    width: 100%;
    height: 425px;
    overflow: hidden;
}
main section div.card_overflow article:hover figure{
    width: 100%;
    background-size: cover;
    transform: translateY(-2px);
}
main section div.card_overflow article:first-of-type figure{
    background-image: url(../images/about/team1.webp);
}
main section div.card_overflow article:nth-of-type(2) figure{
    background-image: url(../images/about/team2.webp);
}
main section div.card_overflow article:nth-of-type(3) figure{
    background-image: url(../images/about/team3.webp);
}
main section div.card_overflow article:nth-of-type(4) figure{
    background-image: url(../images/about/team4.png);
}
main section div.card_overflow article:nth-of-type(5) figure{
    background-image: url(../images/about/team5.webp);
}
main section div.card_overflow article:first-of-type:hover figure{
    background-image: url(../images/about/team1_color.png); 
}
main section div.card_overflow article:nth-of-type(2):hover figure{
    background-image: url(../images/about/team2_color.png); 
}
main section div.card_overflow article:nth-of-type(3):hover figure{
    background-image: url(../images/about/team3_color.png); 
}
main section div.card_overflow article:nth-of-type(4):hover figure{
    background-image: url(../images/about/team4_color.png); 
}
main section div.card_overflow article:nth-of-type(5):hover figure{
    background-image: url(../images/about/team5_color.png); 
}
main section div.card_overflow article .text_cont{
    padding: 10px 0;
}
main section div.card_overflow article .text_cont h4{
    margin-bottom: 10px;
    color: var(--gs04);
}
main section div.card_overflow article .text_cont div{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid var(--gs04);
}
main section div.card_overflow article .text_cont div span{
    display: block;
    color: var(--gs02);
}
main section div.card_overflow article .text_cont div span:first-of-type{
    width: 40%;
}
main section div.card_overflow article .text_cont div span:last-of-type{
    width: 60%;
}
@media screen and (min-width:1024px) {
    main.about_main section .div_row{
        gap: 4%;
    }
    main section.grid_bg div div:not(:nth-child(2)){
        width: 80%;
        margin: 0 auto;
    }
    main section.grid_bg div div:nth-child(2){
        width: 50%;
        margin: 0 auto;
    }
    main section.grid_bg div div:not(:nth-child(2)) > *{
        width: 48%;
    }
}
@media screen and (max-width:1023px){
    .heading2{
        font-size: 24px;
    }
    main.about_main section .div_row{
        flex-direction: column;
    }
    main section.grid_bg div div:first-child p{
        margin-bottom: 30px;
    }
    main section.grid_bg div div:last-child figure{
        margin-bottom: 30px;
    }
    main section.grid_bg div div:not(:nth-child(2)) > *{
        width: 100%;
    }
    main section.grid_bg div div:not(:nth-child(2)) figure{
        text-align: center;
    }
    main section.grid_bg div div:not(:nth-child(2)) figure img{
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
    }    
}
@media screen and (min-width:400px){
    main section div.card_overflow article{
        width: 360px;
    }
    main section div.card_overflow article figure{
        height: 430px;
    }
}
@media screen and (max-width:400px){
    main section.grid_bg{
        padding: 10px;
    }
    main section div.card_overflow article{
        width: 260px;
    }
    main section div.card_overflow article figure{
        height: 300px;
    }
}
