
/* 글로벌 스타일 */
body{
    background-color: var(--gs08);
}
main{
    padding: 20px 20px 20px 100px;
    box-sizing: border-box;
}
@media screen and (min-width: 1440px){
    body main > *,
    header > div.headerTop{
        max-width: 1100px;
        margin: 0 auto;
    }
    header{
        width: 100%;
        height: 40px;
        background-color: var(--gs09);
    }
    header div.headerTop{        
        justify-content: space-between;
    }
    header div.headerTop >*,
    header div.headerTop ul li{
        line-height: 40px;
    }
    header div.headerTop,
    header div.headerTop ul{
        height: 100%;
        display: flex;
        gap: 20px;
    }    
    header div.headerTop h1{
        width: 5%;
        max-width: 80px;
    }
    header div.headerTop nav{
        width: 80%;
    }
    header div.headerTop ul.subMenu{
        width: 15%;
    }
    header div.headerTop ul{
        list-style: none;
    }
    header div.headerTop ul li a{
        color: var(--gs04);
    } 
    header div.headerTop ul li a img{
        vertical-align: middle;
    }
    header .subMenu li:last-child{
        display: none;
    }

    .megaMenu{
        width: 100%;
        padding: 30px 0;
        background-color: var(--gs09);
        box-sizing: border-box;
    }
    .megaMenu h2{
        max-width: 870px;
        margin: 0 auto 30px;
        color: var(--gs04);
    }
    .megaMenu > ul{
        display: flex;
        flex-wrap: wrap;
        max-width: 870px;
        margin: 0 auto 30px;
        gap: 40px 5%;
        list-style: none;
    }
    .megaMenu > ul li{
        width: 30%;
        min-width: 0;
        padding: 0;
    }
    .megaMenu > ul li a{
        display: block;
        width: 100%;
    }
    .megaMenu > ul li a img{
        display: block;
        width: 100%;
        height: 140px;
        object-fit: cover;
        margin: 0;
        padding: 0;
        border-radius: 10px;
    }
    .megaMenu .textBox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    .megaMenu .textBox > * {
        display: inline-block;
    } 
    header .megaMenu ul li a,
    header .megaMenu ul li a span.label-m {
        color: var(--gs02);
    }
    .megaMenu .textBox span.body-m {
        color: var(--gs05);
    }
    .megaMenu > a{
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 870px;
        margin: 0 auto;
    }
    header .megaMenu.keycaps ul li a img{
        transform: scale(1.1);
    }
    header .megaMenu.keycaps ul li a div span{
        display: block;
        width: 100%;
        text-align: center;
    }
    header .megaMenu .section_row{
        max-width: 870px;
        margin: 0 auto;
        display: flex;
        align-items: start;
    }
    header .megaMenu section:first-child{
        width: 30%;
    }
    header .megaMenu section:last-child{
        width: 70%;
    }
    header .megaMenu section h3{
        margin-bottom: 30px;
    }
    header .megaMenu section ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        list-style: none;        
        height: 170px;
        max-width: 200px;
    }
    header .megaMenu section ul li{
        width: 100%;
    }
    header .megaMenu section ul li a{
        display: inline-block;
    }
    header .section_row .megaMenusection ul{
        list-style: none;
    }
    header .megaMenu.search .searchBox{
        max-width: 870px;
        width: 100%;
        margin: 0 auto;
        border: 2px solid var(--gs07);
        border-radius: 10px;
        display: flex;
        gap: 10px;
        padding: 0 20px;
        box-sizing: border-box;
        margin-bottom: 30px;
    }
    header .megaMenu.search .searchBox input{
        width: 90%;
        height: 50px;
        border: none;
    }
    header .megaMenu.search .searchBox input::placeholder{
        color: var(--gs06);
    }
    header .popDown{
        width: 360px;
        background-color: var(--gs09);
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px;
        box-sizing: content-box;
        border-radius: 10px;
    }
    header .popDown.login,
    header .popDown.account
    {
        position: absolute;
        right: 15%;
    }
    header .popDown > *{
        width: 100%;
    }
    header .popDown h2{
        color: var(--gs04);
    }
    header .popDown p{
        color: var(--gs02);
    }
    header .popDown .label_cont label{
        display: block;
        color: var(--gs04);
        margin-bottom: 10px;
    }
    header .popDown input{        
        width: 90%;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid var(--gs05);
    }
    header .popDown .label_cont label > span{
        color: var(--rs04);
        margin-left: 5px;
    }
    header .popDown > span.forgotpw > a{
        color: var(--gs05);
        text-align: right;
        width: 100%;
        display: inline-block;
    }
    header .popDown div.signup_text{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    header .popDown > div.signup_text > span:first-child{
        color: var(--gs04);
    }
    header .popDown div.signup_text > span:last-child a{
        color: var(--gs02);
    }
    header .popDown.account ul li:not(:last-child){
        margin-bottom: 20px;
    }
    header .popDown.account ul li a{
        list-style: none;
        display: flex;
        align-items: center;       
        gap: 10px;
        color: var(--gs02);
    }
    header .popDown.account ul li img{
        width: 24px;
        height: 24px;
     }




    main{
        display: block;
        height: 5000px;
    }
    main .main_banner{
        height: 600px;
        background: url(../images/main_page/banner.webp) no-repeat center/cover;
        border-radius: 20px;
    }
    main .main_banner hgroup{
        width: 100%;
        text-align: center;
    }
    footer{
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    

}
