
main{
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: stretch;
}
main div.left_side{
    background-color: var(--gs09);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
}
main div.left_side ul li{
    margin-bottom: 20px;
}
main div.left_side ul li a{
    color: var(--gs01);
}
main div.left_side ul li:first-child a.active{
    color: var(--bs03);
}
main div.left_side ul li:nth-child(2) a.active{
    color: var(--ls03);
}
main div.left_side ul li:nth-child(3) a.active{
    color: var(--ys03);
}
main div.left_side ul li:last-child a.active{
    color: var(--rs03);
}
main div.left_side a{
    text-align: center;
}
.modal_overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    border-radius: 10px;
}
.modal_overlay h3{
    color: var(--rs02);
}
main section.right_side{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 10px 100px;
}
main section.right_side > a{
    display: flex;
    align-items: center;
    gap: 10px;
}
main section.right_side > a > *{
    display: block;
}
main section.right_side > a > img{
    transform: rotate(180deg);
}
main section.right_side > a span{
    color: var(--gs03);
}
main.account_main .right_side h2{
    color: var(--rs03);
}
main section.right_side .user_info_cont{
    display: flex;
    align-items: start;
    gap: 20px;
}
main section.right_side .user_info_cont > .user_img img{
    width: 100px;
    height: 100px;
    display: block;
    padding: 20px;
    border-radius: 50%;
    background-color: var(--gs09);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
main section.right_side .user_info_cont .user_info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
main section.right_side .user_info_cont .user_info .span_cont{
    width: 50%;
}
main section.right_side .user_info_cont .user_info .span_cont span{
    display: block;
    margin-bottom: 10px;
}
main section.right_side .user_info_cont .user_info .span_cont span:last-child{
    color: var(--gs03);
}
main section.right_side .user_info_cont > button{
    border: none;
}
main section.right_side .user_info_cont > button img{
    width:30px;
    height: 30px;
    border: 1px solid var(--rs03);
    background-color: var(--ys08);
    border-radius: 5px;
}
main section.right_side article{
    background-color: var(--gs09);
    padding: 20px;
    border-radius: 10px;
}
main section.right_side article h3{
    margin-bottom: 20px;
}
main section.right_side article p{
    margin-bottom: 30px;
}
main section.right_side > article > a{
    max-width: 200px;
    display: block;
    text-align: center;
}
main section.right_side > button:hover{
    color: var(--rs02);
}
main.account_main h3,
main.account_main .accordion .accordion_item > button span{
    color: var(--rs03);
}
.accordion .accordion_body{
    width: 100%;    
    display: flex;
    flex-direction: column;
}
.accordion .accordion_body > *:not(p){
    margin: 10px 20px;
}
.accordion .accordion_body input{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--gs05);
}
.accordion .accordion_body input:first-of-type{
    background-color: var(--bs08);
}
.accordion .accordion_body button{
    margin-bottom: 20px;
}
main.account_main .right_side > button{
    text-align: left;
    border: none;
}
main.benefits_main .right_side h2{
    color: var(--ls02);
}
main.benefits_main .right_side > p{
    color: var(--ls03);
}
main.benefits_main .right_side .card_cont{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
main.benefits_main .right_side .card_cont span{
    display: block;
    margin-bottom: 10px;
}
main.benefits_main .right_side .card_cont h3{
    color: var(--ls02);
}
main.benefits_main .right_side .card_cont span:first-of-type{
    color: var(--ls03);
}
main.benefits_main .right_side .card_cont span:nth-of-type(2){
    color: var(--ls04);
}
main.benefits_main .right_side .card_cont span:nth-of-type(3){
    color: var(--gs04);
}
main.benefits_main .right_side .card_cont p{
    min-height: 50px;
}
main.cart_main section.right_side{
    display: flex;
    width: 100%;
}
main.cart_main section.right_side div.cart_left{
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 100%;
}
main.cart_main section.right_side h2{
    color: var(--ys02);
}
main.cart_main section.right_side div.cart_left >a{
    display: flex;
    gap: 10px;
}
main.cart_main section.right_side div.cart_left >a img{
    transform: rotate(180deg);
}
main.cart_main section.right_side div.cart_left >a span{
    color: var(--gs01);
}
main.cart_main section.right_side div.cart_left div h3{
    color: var(--ys03);
    margin-bottom: 10px;
}
main.cart_main section.right_side div.cart_left #cart_list .cart_item{
    padding: 15px;
}
main.cart_main section.right_side div.cart_left #cart_list .cart_item:not(:last-child){
    margin-bottom: 20px;
}
main.cart_main section.right_side div.cart_left .cart_item{    
    position: relative;
    display: flex;
    gap: 20px;
}
main.cart_main section.right_side div.cart_left .cart_item
figure,
main.cart_main section.right_side div.cart_left .cart_item figure img{
    max-width: 120px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}
main.cart_main section.right_side div.cart_left .cart_item h4{
    color: var(--gs04);
    margin-bottom: 20px;
}
main.cart_main section.right_side div.cart_left .cart_item > .cart_item_price{
    color: var(--gs03);
    position: absolute;
    top: 15px;
    right: 15px;
}
main.cart_main section.right_side div.cart_left .cart_item .cart_item_qty{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    gap: 10px;
    line-height: 24px;
}
main.cart_main section.right_side div.cart_left .cart_item .cart_item_qty > *{
    background-color: transparent;
}
main.cart_main section.right_side div.cart_left .cart_item .cart_item_qty > *:first-child{
    border: none;
    width: 30px;
    height: 30px;
}
main.cart_main section.right_side div.cart_left .cart_item .cart_item_qty > *:not(:first-child){
    border: 2px solid var(--gs06);
    border-radius: 5px;    
    color: var(--gs02);
    height: 24px;
}
main.cart_main section.right_side div.cart_left .cart_item .cart_item_qty > span{
    display: inline-block;
    height: 24px;
    width: 40px;
    text-align: center;
}
main.cart_main section.right_side div.cart_left .delivery_opt > p{
    margin-bottom: 20px;
}
main.cart_main section.right_side div.cart_left .delivery_opt > div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
main.cart_main section.right_side div.cart_left .delivery_opt > div .active{
    background-color: var(--ys07);
}
main.cart_main section.right_side div.cart_left .delivery_opt > div .active h4{
    color: var(--ys03);
}
main.cart_main section.right_side div.cart_left .delivery_opt > div article:not(.active):hover{
    background-color: var(--ys08);
}
main.cart_main section.right_side div.cart_left .delivery_opt > div h4{
    color: var(--ys04);
    margin-bottom: 10px;
}
main.cart_main section.right_side div.cart_left .delivery_opt > div span{
    display: block;
}
main.cart_main section.right_side div.cart_left .delivery_opt > div span:first-of-type{
    margin-bottom: 5px;
}
main.cart_main section.right_side div.cart_right .width_cont h2{
    margin-bottom: 20px;
}
main.cart_main section.right_side div.cart_right .width_cont > article div section{
    display: flex;
    justify-content: space-between;
}
main.cart_main section.right_side div.cart_right .width_cont > article div section:nth-child(2){
    margin-bottom: 10px;
    border-bottom: 1px solid var(--gs07);
}
main.cart_main section.right_side div.cart_right .width_cont > article > a{
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
main.cart_main section.right_side div.cart_right .width_cont > article div.price_policy_cont p{
    max-height: 40px;
    color: var(--gs01);
    overflow: hidden;
}
main.order_main .right_side 
main.order_main .order_cont{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
main.order_main .order_cont figure img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
main.order_main .order_cont .center_cont{
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main.order_main .order_cont .center_cont .status{
    color: var(--bs05);
    margin-bottom: 5px;
}
main.order_main .order_cont .center_cont h4{
    color: var(--gs02);
}
main.order_main .order_cont .center_cont span{
    color: var(--gs05);
}
main.order_main .order_cont .center_cont button{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--gs07);
    padding: 0;
    color: var(--gs04);
}
main.order_main .order_cont div.btn_cont button{
    min-width: 200px;
    height: 50px;
}
main.order_main .order_cont div.btn_cont button:not(:last-child){
    margin-bottom: 20px;
}
main.order_main .order_cont span{
    display: block;
}
main.cart_main .width_cont .policy_cont button:hover span{
    color: var(--gs03);
    border-bottom: 1px solid var(--gs03);
}
#modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.modal_overlay.policy {
    z-index: 1000;
}
.toast {
    white-space: pre-line;
}
.toast.toast_success {
    background-color: var(--ls03);
    color: var(--gs09);
}
.toast.toast_fail {
    background-color: var(--rs03);
}
@media screen and (min-width: 1024px){
    main{
        gap: 30px;
    }
    main section.right_side{
        max-width: 800px;
    }
    main div.left_side{
        width: 350px;
        padding: 100px 50px;
    }
    main.cart_main section.right_side{
        flex-direction: column;
    }
    main.cart_main section.right_side .cart_right{
        max-width: 300px;
    }
    main.cart_main section.right_side div.cart_left .delivery_opt > div article{
        width: 48%;
    }
}
@media screen and (min-width: 1023px){
    main.cart_main section.right_side{
        flex-direction: row;
    }
}
@media screen and (max-width: 1023px) and (min-width:900px){
    main section.right_side{
    max-width: 600px;
    }    
    main div.left_side{
        width: 250px;
        padding: 50px 20px;
    }
}
@media screen and (max-width: 1023px) and (min-width:520px){
    main.cart_main section.right_side div.cart_left .delivery_opt > div article{
        width: 32%;
    }
}
@media screen and (min-width: 900px){
    main.benefits_main .right_side .card_cont article{
        width: 48%;
    }
}
@media screen and (max-width: 899px){
    main.benefits_main .right_side .card_cont article{
        width: 100%;
    }
    main.cart_main section.right_side div.cart_left .delivery_opt > div article{
        width: 32%;
    }
}
@media screen and (max-width: 899px) and (min-width:650px){
    main section.right_side{
        max-width: 450px;
    }    
    main div.left_side{
        width: 200px;
        padding: 50px 20px;
    }main.cart_main section.right_side div.cart_left .delivery_opt > div article{
        width: 48%;
    }
    
}
@media screen and (max-width: 649px){
    main{
        flex-direction: column;
    }
    main div.left_side{
        padding: 20px;
    }
    main div.left_side ul{
        display: flex;
        gap: 10px;
        overflow-x: auto;
        scrollbar-width: none;
    }
    main div.left_side ul li{
        min-width: 100px;
    }
    main div.left_side ul li a{
        display: block;
    }
    .title2,.title3{
        font-size: 18px;
    }
}
@media screen and (min-width:650px){
    main div.left_side{
        position: relative;
    }
    main div.left_side ul{
        position: sticky;
    }
}
@media screen and (max-width: 519px){
    main.cart_main section.right_side div.cart_left .delivery_opt > div article{
        width: 100%;
    }
}
@media screen and (max-width:400px){    
    main .right_side .user_info_cont figure{
        display: none;
    }
    main.cart_main section.right_side div.cart_left .cart_item{
        flex-direction: column;
    }
}

